.options {
  gap: 2rem;
  padding: 1rem;
}

.options > .btn {
  border-bottom: 1px solid transparent;
  transition: var(--default-transition);
  color: var(--grey-3-color);
}

.options > .btn:hover {
  transform: scale(1.2);
  margin: 0 0.75rem;
  color: var(--black-color);
}

#active {
  color: var(--black-color);
  font-size: 1.5rem;
  margin: 0 0.75rem;
}